In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
from bs4 import BeautifulSoup
import pandas as pd
import requests
from IPython.display import HTML
from IPython.display import display_html

In [13]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\lipyc\anaconda3\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from dotenv import load_dotenv
import os

In [17]:
load_dotenv()

True

In [19]:
# Retrieve your API key from the environment variable
api_key = os.getenv("RAPIDAPI_KEY")

In [22]:
import requests

url = "https://covid-193.p.rapidapi.com/statistics"

headers = {
	"X-RapidAPI-Key": api_key,
	"X-RapidAPI-Host": "covid-193.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response)

<Response [200]>

In [23]:

print(response.json())

{'get': 'statistics', 'parameters': [], 'errors': [], 'results': 238, 'response': [{'continent': 'North-America', 'country': 'Montserrat', 'population': 4965, 'cases': {'new': None, 'active': 19, 'critical': None, 'recovered': 1376, '1M_pop': '282578', 'total': 1403}, 'deaths': {'new': None, '1M_pop': '1611', 'total': 8}, 'tests': {'1M_pop': '3577442', 'total': 17762}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': None, 'country': 'Diamond-Princess', 'population': None, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 699, '1M_pop': None, 'total': 712}, 'deaths': {'new': None, '1M_pop': None, 'total': 13}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'Europe', 'country': 'Vatican-City', 'population': 799, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 29, '1M_pop': '36295', 'total': 29}, 'deaths': {'new': None, '1M_pop': None, 'total': None}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'Africa', 'country': 'Western-Sahara', 'population': 626161, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 9, '1M_pop': '16', 'total': 10}, 'deaths': {'new': None, '1M_pop': '2', 'total': 1}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': None, 'country': 'MS-Zaandam', 'population': None, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 7, '1M_pop': None, 'total': 9}, 'deaths': {'new': None, '1M_pop': None, 'total': 2}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'Asia', 'country': 'China', 'population': 1448471400, 'cases': {'new': None, 'active': 118977, 'critical': None, 'recovered': 379053, '1M_pop': '347', 'total': 503302}, 'deaths': {'new': None, '1M_pop': '4', 'total': 5272}, 'tests': {'1M_pop': '110461', 'total': 160000000}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'Oceania', 'country': 'Tokelau', 'population': 1378, 'cases': {'new': None, 'active': 80, 'critical': None, 'recovered': None, '1M_pop': '58055', 'total': 80}, 'deaths': {'new': None, '1M_pop': None, 'total': None}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'Oceania', 'country': 'Niue', 'population': 1622, 'cases': {'new': None, 'active': 1, 'critical': None, 'recovered': 895, '1M_pop': '552404', 'total': 896}, 'deaths': {'new': None, '1M_pop': None, 'total': None}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:11+00:00'}, {'continent': 'North-America', 'country': 'Nicaragua', 'population': 6779100, 'cases': {'new': None, 'active': 14041, 'critical': None, 'recovered': 4225, '1M_pop': '2728', 'total': 18491}, 'deaths': {'new': None, '1M_pop': '33', 'total': 225}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Asia', 'country': 'Tajikistan', 'population': 9957464, 'cases': {'new': None, 'active': 397, 'critical': None, 'recovered': 17264, '1M_pop': '1786', 'total': 17786}, 'deaths': {'new': None, '1M_pop': '13', 'total': 125}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Djibouti', 'population': 1016097, 'cases': {'new': None, 'active': 74, 'critical': None, 'recovered': 15427, '1M_pop': '15441', 'total': 15690}, 'deaths': {'new': None, '1M_pop': '186', 'total': 189}, 'tests': {'1M_pop': '301094', 'total': 305941}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'CAR', 'population': 5016678, 'cases': {'new': None, 'active': 55, 'critical': 2, 'recovered': 15200, '1M_pop': '3063', 'total': 15368}, 'deaths': {'new': None, '1M_pop': '23', 'total': 113}, 'tests': {'1M_pop': '16205', 'total': 81294}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Greenland', 'population': 56973, 'cases': {'new': None, 'active': 9189, 'critical': 4, 'recovered': 2761, '1M_pop': '210117', 'total': 11971}, 'deaths': {'new': None, '1M_pop': '369', 'total': 21}, 'tests': {'1M_pop': '2894810', 'total': 164926}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Eritrea', 'population': 3662244, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 10086, '1M_pop': '2782', 'total': 10189}, 'deaths': {'new': None, '1M_pop': '28', 'total': 103}, 'tests': {'1M_pop': '6470', 'total': 23693}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Niger', 'population': 26083660, 'cases': {'new': None, 'active': 729, 'critical': 1, 'recovered': 8890, '1M_pop': '381', 'total': 9931}, 'deaths': {'new': None, '1M_pop': '12', 'total': 312}, 'tests': {'1M_pop': '9759', 'total': 254538}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Saint-Helena', 'population': 6115, 'cases': {'new': None, 'active': 2164, 'critical': None, 'recovered': 2, '1M_pop': '354211', 'total': 2166}, 'deaths': {'new': None, '1M_pop': None, 'total': None}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'South-America', 'country': 'Falkland-Islands', 'population': 3539, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 1930, '1M_pop': '545352', 'total': 1930}, 'deaths': {'new': None, '1M_pop': None, 'total': None}, 'tests': {'1M_pop': '2439107', 'total': 8632}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Equatorial-Guinea', 'population': 1496662, 'cases': {'new': '+7', 'active': 139, 'critical': 5, 'recovered': 16907, '1M_pop': '11512', 'total': 17229}, 'deaths': {'new': None, '1M_pop': '122', 'total': 183}, 'tests': {'1M_pop': '244342', 'total': 365697}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Liberia', 'population': 5305117, 'cases': {'new': None, 'active': 12, 'critical': 2, 'recovered': 7783, '1M_pop': '1525', 'total': 8090}, 'deaths': {'new': None, '1M_pop': '56', 'total': 295}, 'tests': {'1M_pop': '26356', 'total': 139824}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Nauru', 'population': 10903, 'cases': {'new': None, 'active': 45, 'critical': None, 'recovered': 5347, '1M_pop': '494635', 'total': 5393}, 'deaths': {'new': None, '1M_pop': '92', 'total': 1}, 'tests': {'1M_pop': '1881042', 'total': 20509}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Caribbean-Netherlands', 'population': 26647, 'cases': {'new': '+3', 'active': 1168, 'critical': None, 'recovered': 10476, '1M_pop': '438398', 'total': 11682}, 'deaths': {'new': None, '1M_pop': '1426', 'total': 38}, 'tests': {'1M_pop': '1130559', 'total': 30126}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Gambia', 'population': 2558482, 'cases': {'new': '+28', 'active': 65, 'critical': None, 'recovered': 12189, '1M_pop': '4935', 'total': 12626}, 'deaths': {'new': None, '1M_pop': '145', 'total': 372}, 'tests': {'1M_pop': '60851', 'total': 155686}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Comoros', 'population': 907419, 'cases': {'new': None, 'active': 9, 'critical': None, 'recovered': 8939, '1M_pop': '10038', 'total': 9109}, 'deaths': {'new': None, '1M_pop': '177', 'total': 161}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Guinea-Bissau', 'population': 2063367, 'cases': {'new': None, 'active': 508, 'critical': 6, 'recovered': 8929, '1M_pop': '4659', 'total': 9614}, 'deaths': {'new': None, '1M_pop': '86', 'total': 177}, 'tests': {'1M_pop': '70385', 'total': 145231}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Chad', 'population': 17413580, 'cases': {'new': None, 'active': 2633, 'critical': None, 'recovered': 4874, '1M_pop': '442', 'total': 7701}, 'deaths': {'new': None, '1M_pop': '11', 'total': 194}, 'tests': {'1M_pop': '10988', 'total': 191341}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Vanuatu', 'population': 321832, 'cases': {'new': None, 'active': 29, 'critical': None, 'recovered': 11976, '1M_pop': '37346', 'total': 12019}, 'deaths': {'new': None, '1M_pop': '44', 'total': 14}, 'tests': {'1M_pop': '77606', 'total': 24976}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Sint-Maarten', 'population': 43966, 'cases': {'new': None, 'active': 54, 'critical': None, 'recovered': 10905, '1M_pop': '251353', 'total': 11051}, 'deaths': {'new': None, '1M_pop': '2093', 'total': 92}, 'tests': {'1M_pop': '1411454', 'total': 62056}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Wallis-and-Futuna', 'population': 10982, 'cases': {'new': None, 'active': 3104, 'critical': None, 'recovered': 438, '1M_pop': '323256', 'total': 3550}, 'deaths': {'new': None, '1M_pop': '728', 'total': 8}, 'tests': {'1M_pop': '1867419', 'total': 20508}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'St-Barth', 'population': 9945, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '553746', 'total': 5507}, 'deaths': {'new': None, '1M_pop': '603', 'total': 6}, 'tests': {'1M_pop': '7908095', 'total': 78646}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Saint-Kitts-and-Nevis', 'population': 53871, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 6559, '1M_pop': '122645', 'total': 6607}, 'deaths': {'new': None, '1M_pop': '891', 'total': 48}, 'tests': {'1M_pop': '2356704', 'total': 126958}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Kiribati', 'population': 123419, 'cases': {'new': None, 'active': 2358, 'critical': 3, 'recovered': 2703, '1M_pop': '41201', 'total': 5085}, 'deaths': {'new': None, '1M_pop': '194', 'total': 24}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Sierra-Leone', 'population': 8306436, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '935', 'total': 7766}, 'deaths': {'new': None, '1M_pop': '15', 'total': 126}, 'tests': {'1M_pop': '31296', 'total': 259958}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Marshall-Islands', 'population': 60057, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 16121, '1M_pop': '268711', 'total': 16138}, 'deaths': {'new': None, '1M_pop': '283', 'total': 17}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Palau', 'population': 18233, 'cases': {'new': '+1', 'active': 1, 'critical': None, 'recovered': 6239, '1M_pop': '342730', 'total': 6249}, 'deaths': {'new': None, '1M_pop': '494', 'total': 9}, 'tests': {'1M_pop': '3891077', 'total': 70946}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Saint-Martin', 'population': 39730, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '310194', 'total': 12324}, 'deaths': {'new': None, '1M_pop': '1586', 'total': 63}, 'tests': {'1M_pop': '2828643', 'total': 112382}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Asia', 'country': 'Yemen', 'population': 31154867, 'cases': {'new': None, 'active': 662, 'critical': None, 'recovered': 9124, '1M_pop': '383', 'total': 11945}, 'deaths': {'new': None, '1M_pop': '69', 'total': 2159}, 'tests': {'1M_pop': '10579', 'total': 329592}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Anguilla', 'population': 15230, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '256336', 'total': 3904}, 'deaths': {'new': None, '1M_pop': '788', 'total': 12}, 'tests': {'1M_pop': '3373736', 'total': 51382}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Saint-Pierre-Miquelon', 'population': 5759, 'cases': {'new': None, 'active': 1001, 'critical': None, 'recovered': 2449, '1M_pop': '599410', 'total': 3452}, 'deaths': {'new': None, '1M_pop': '347', 'total': 2}, 'tests': {'1M_pop': '4410488', 'total': 25400}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Antigua-and-Barbuda', 'population': 99509, 'cases': {'new': None, 'active': 6, 'critical': None, 'recovered': 8954, '1M_pop': '91509', 'total': 9106}, 'deaths': {'new': None, '1M_pop': '1467', 'total': 146}, 'tests': {'1M_pop': '189943', 'total': 18901}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Tuvalu', 'population': 12066, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '243909', 'total': 2943}, 'deaths': {'new': None, '1M_pop': '83', 'total': 1}, 'tests': {'1M_pop': None, 'total': None}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Samoa', 'population': 202239, 'cases': {'new': None, 'active': 15145, 'critical': None, 'recovered': 1605, '1M_pop': '82976', 'total': 16781}, 'deaths': {'new': None, '1M_pop': '153', 'total': 31}, 'tests': {'1M_pop': '926612', 'total': 187397}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Dominica', 'population': 72344, 'cases': {'new': None, 'active': 0, 'critical': None, 'recovered': 15953, '1M_pop': '221539', 'total': 16027}, 'deaths': {'new': None, '1M_pop': '1023', 'total': 74}, 'tests': {'1M_pop': '3170187', 'total': 229344}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Turks-and-Caicos', 'population': 39741, 'cases': {'new': None, 'active': 23, 'critical': 4, 'recovered': 6633, '1M_pop': '168491', 'total': 6696}, 'deaths': {'new': None, '1M_pop': '1007', 'total': 40}, 'tests': {'1M_pop': '15480889', 'total': 615226}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Europe', 'country': 'Monaco', 'population': 39783, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '431868', 'total': 17181}, 'deaths': {'new': None, '1M_pop': '1684', 'total': 67}, 'tests': {'1M_pop': '1976875', 'total': 78646}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'British-Virgin-Islands', 'population': 30596, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '241600', 'total': 7392}, 'deaths': {'new': None, '1M_pop': '2092', 'total': 64}, 'tests': {'1M_pop': '3508269', 'total': 107339}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Cook-Islands', 'population': 17571, 'cases': {'new': None, 'active': 22, 'critical': None, 'recovered': 7150, '1M_pop': '408286', 'total': 7174}, 'deaths': {'new': None, '1M_pop': '114', 'total': 2}, 'tests': {'1M_pop': '1120596', 'total': 19690}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'South-Sudan', 'population': 11618511, 'cases': {'new': None, 'active': 342, 'critical': 1, 'recovered': 18115, '1M_pop': '1600', 'total': 18595}, 'deaths': {'new': None, '1M_pop': '12', 'total': 138}, 'tests': {'1M_pop': '35313', 'total': 410280}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Oceania', 'country': 'Tonga', 'population': 107749, 'cases': {'new': None, 'active': 1237, 'critical': None, 'recovered': 15638, '1M_pop': '156735', 'total': 16888}, 'deaths': {'new': None, '1M_pop': '121', 'total': 13}, 'tests': {'1M_pop': '4965327', 'total': 535009}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'St-Vincent-Grenadines', 'population': 111551, 'cases': {'new': None, 'active': 57, 'critical': None, 'recovered': 9493, '1M_pop': '86723', 'total': 9674}, 'deaths': {'new': None, '1M_pop': '1112', 'total': 124}, 'tests': {'1M_pop': '1023720', 'total': 114197}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'Africa', 'country': 'Sao-Tome-and-Principe', 'population': 227679, 'cases': {'new': None, 'active': 42, 'critical': None, 'recovered': 6606, '1M_pop': '29550', 'total': 6728}, 'deaths': {'new': None, '1M_pop': '351', 'total': 80}, 'tests': {'1M_pop': '129450', 'total': 29473}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:10+00:00'}, {'continent': 'North-America', 'country': 'Cura&ccedil;ao', 'population': 165529, 'cases': {'new': None, 'active': 971, 'critical': 3, 'recovered': 44720, '1M_pop': '277812', 'total': 45986}, 'deaths': {'new': None, '1M_pop': '1782', 'total': 295}, 'tests': {'1M_pop': '3000640', 'total': 496693}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'Europe', 'country': 'Isle-of-Man', 'population': 85732, 'cases': {'new': None, 'active': None, 'critical': None, 'recovered': None, '1M_pop': '443335', 'total': 38008}, 'deaths': {'new': None, '1M_pop': '1353', 'total': 116}, 'tests': {'1M_pop': '1758422', 'total': 150753}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'Africa', 'country': 'Lesotho', 'population': 2175699, 'cases': {'new': None, 'active': 8087, 'critical': None, 'recovered': 25980, '1M_pop': '15990', 'total': 34790}, 'deaths': {'new': None, '1M_pop': '332', 'total': 723}, 'tests': {'1M_pop': '198199', 'total': 431221}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'North-America', 'country': 'Cayman-Islands', 'population': 67277, 'cases': {'new': None, 'active': 22882, 'critical': 1, 'recovered': 8553, '1M_pop': '467797', 'total': 31472}, 'deaths': {'new': None, '1M_pop': '550', 'total': 37}, 'tests': {'1M_pop': '3311280', 'total': 222773}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'Africa', 'country': 'Congo', 'population': 5797805, 'cases': {'new': None, 'active': 983, 'critical': None, 'recovered': 24006, '1M_pop': '4377', 'total': 25375}, 'deaths': {'new': None, '1M_pop': '67', 'total': 386}, 'tests': {'1M_pop': '59991', 'total': 347815}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'Africa', 'country': 'Somalia', 'population': 16841795, 'cases': {'new': '+10', 'active': 12791, 'critical': None, 'recovered': 13182, '1M_pop': '1623', 'total': 27334}, 'deaths': {'new': None, '1M_pop': '81', 'total': 1361}, 'tests': {'1M_pop': '23778', 'total': 400466}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'North-America', 'country': 'Bermuda', 'population': 61939, 'cases': {'new': '+11', 'active': 10, 'critical': None, 'recovered': 18685, '1M_pop': '304493', 'total': 18860}, 'deaths': {'new': '+2', '1M_pop': '2664', 'total': 165}, 'tests': {'1M_pop': '16622128', 'total': 1029558}, 'day': '2023-12-07', 'time': '2023-12-07T01:30:09+00:00'}, {'continent': 'Africa', 'country': 'Mayotte', 'population': 286259, 'cases': {'new': '+19', 'active': None, 'critical': None, 'recovered': None, '1M_pop': '146815', 'total': 42027}, 'deaths': {'new': None, '1M_pop': '657', 'total': 188}, 'tests': {'1M_pop': '618038', 'total': 176919}, 'day': '2023-12-0

In [5]:
covid_19_countries = response.json()['response'][0:]
covid_19_df = pd.DataFrame(covid_19_countries)


# Displaying the DataFrame
display(covid_19_df)

,continent,country,population,cases,deaths,tests,day,time
0,North-America,Greenland,56973.0,"{'new': None, 'active': 9189, 'critical': 4, '...","{'new': None, '1M_pop': '369', 'total': 21}","{'1M_pop': '2894810', 'total': 164926}",2023-12-07,2023-12-07T00:15:10+00:00
1,Africa,Eritrea,3662244.0,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '28', 'total': 103}","{'1M_pop': '6470', 'total': 23693}",2023-12-07,2023-12-07T00:15:10+00:00
2,Africa,Niger,26083660.0,"{'new': None, 'active': 729, 'critical': 1, 'r...","{'new': None, '1M_pop': '12', 'total': 312}","{'1M_pop': '9759', 'total': 254538}",2023-12-07,2023-12-07T00:15:10+00:00
3,Africa,Saint-Helena,6115.0,"{'new': None, 'active': 2164, 'critical': None...","{'new': None, '1M_pop': None, 'total': None}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:10+00:00
4,South-America,Falkland-Islands,3539.0,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': None}","{'1M_pop': '2439107', 'total': 8632}",2023-12-07,2023-12-07T00:15:10+00:00
...,...,...,...,...,...,...,...,...
233,South-America,South-America,NaN,"{'new': None, 'active': 1392622, 'critical': 8...","{'new': None, '1M_pop': None, 'total': 1363348}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:04+00:00
234,Oceania,Oceania,NaN,"{'new': '+1646', 'active': 116962, 'critical':...","{'new': None, '1M_pop': None, 'total': 31029}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:04+00:00
235,Asia,Asia,NaN,"{'new': None, 'active': 14245011, 'critical': ...","{'new': None, '1M_pop': None, 'total': 1552064}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:04+00:00
236,Europe,Europe,NaN,"{'new': '+7431', 'active': 4043007, 'critical'...","{'new': '+15', '1M_pop': None, 'total': 2085880}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:04+00:00
237,North-America,North-America,NaN,"{'new': '+5024', 'active': 2646606, 'critical'...","{'new': '+28', '1M_pop': None, 'total': 1656504}","{'1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:04+00:00

In [8]:
df = covid_19_df.drop(['population','tests'], axis=1, errors='ignore')
display(df)

,continent,country,cases,deaths,day,time
0,North-America,Greenland,"{'new': None, 'active': 9189, 'critical': 4, '...","{'new': None, '1M_pop': '369', 'total': 21}",2023-12-07,2023-12-07T00:15:10+00:00
1,Africa,Eritrea,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '28', 'total': 103}",2023-12-07,2023-12-07T00:15:10+00:00
2,Africa,Niger,"{'new': None, 'active': 729, 'critical': 1, 'r...","{'new': None, '1M_pop': '12', 'total': 312}",2023-12-07,2023-12-07T00:15:10+00:00
3,Africa,Saint-Helena,"{'new': None, 'active': 2164, 'critical': None...","{'new': None, '1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:10+00:00
4,South-America,Falkland-Islands,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:10+00:00
...,...,...,...,...,...,...
233,South-America,South-America,"{'new': None, 'active': 1392622, 'critical': 8...","{'new': None, '1M_pop': None, 'total': 1363348}",2023-12-07,2023-12-07T00:15:04+00:00
234,Oceania,Oceania,"{'new': '+1646', 'active': 116962, 'critical':...","{'new': None, '1M_pop': None, 'total': 31029}",2023-12-07,2023-12-07T00:15:04+00:00
235,Asia,Asia,"{'new': None, 'active': 14245011, 'critical': ...","{'new': None, '1M_pop': None, 'total': 1552064}",2023-12-07,2023-12-07T00:15:04+00:00
236,Europe,Europe,"{'new': '+7431', 'active': 4043007, 'critical'...","{'new': '+15', '1M_pop': None, 'total': 2085880}",2023-12-07,2023-12-07T00:15:04+00:00
237,North-America,North-America,"{'new': '+5024', 'active': 2646606, 'critical'...","{'new': '+28', '1M_pop': None, 'total': 1656504}",2023-12-07,2023-12-07T00:15:04+00:00

In [9]:
# Extracting the 'active' values from the 'cases' column and creating a new column 'active_cases'
df['active_cases'] = df['cases'].apply(lambda x: x.get('active', None))

# Sorting the DataFrame based on the 'active_cases' column in descending order
df_sorted = df.sort_values(by='active_cases', ascending=False)

# Displaying the sorted DataFrame
print("\nDataFrame sorted by 'active_cases':")
display(df_sorted.head(20))

DataFrame sorted by 'active_cases':

,continent,country,cases,deaths,day,time,active_cases
231,All,All,"{'new': '+12455', 'active': 22949934, 'critica...","{'new': '+43', '1M_pop': '891.3', 'total': 694...",2023-12-07,2023-12-07T00:15:05+00:00,22949934.0
235,Asia,Asia,"{'new': None, 'active': 14245011, 'critical': ...","{'new': None, '1M_pop': None, 'total': 1552064}",2023-12-07,2023-12-07T00:15:04+00:00,14245011.0
236,Europe,Europe,"{'new': '+7431', 'active': 4043007, 'critical'...","{'new': '+15', '1M_pop': None, 'total': 2085880}",2023-12-07,2023-12-07T00:15:04+00:00,4043007.0
237,North-America,North-America,"{'new': '+5024', 'active': 2646606, 'critical'...","{'new': '+28', '1M_pop': None, 'total': 1656504}",2023-12-07,2023-12-07T00:15:04+00:00,2646606.0
233,South-America,South-America,"{'new': None, 'active': 1392622, 'critical': 8...","{'new': None, '1M_pop': None, 'total': 1363348}",2023-12-07,2023-12-07T00:15:04+00:00,1392622.0
217,South-America,Brazil,"{'new': None, 'active': 1121461, 'critical': N...","{'new': None, '1M_pop': '3287', 'total': 707789}",2023-12-07,2023-12-07T00:15:05+00:00,1121461.0
199,Asia,Vietnam,"{'new': '+9', 'active': 939937, 'critical': No...","{'new': None, '1M_pop': '437', 'total': 43206}",2023-12-07,2023-12-07T00:15:05+00:00,939937.0
232,North-America,USA,"{'new': '+5024', 'active': 930428, 'critical':...","{'new': '+28', '1M_pop': '3537', 'total': 1184...",2023-12-07,2023-12-07T00:15:05+00:00,930428.0
222,Africa,Africa,"{'new': None, 'active': 505726, 'critical': 54...","{'new': None, '1M_pop': None, 'total': 258857}",2023-12-07,2023-12-07T00:15:05+00:00,505726.0
197,North-America,Mexico,"{'new': None, 'active': 414862, 'critical': No...","{'new': None, '1M_pop': '2542', 'total': 334472}",2023-12-07,2023-12-07T00:15:05+00:00,414862.0
229,Europe,Russia,"{'new': None, 'active': 261976, 'critical': No...","{'new': None, '1M_pop': '2748', 'total': 400716}",2023-12-07,2023-12-07T00:15:05+00:00,261976.0
224,Europe,Germany,"{'new': '+5191', 'active': 247191, 'critical':...","{'new': '+58', '1M_pop': '2128', 'total': 178495}",2023-12-07,2023-12-07T00:15:05+00:00,247191.0
219,Europe,Italy,"{'new': None, 'active': 196559, 'critical': 17...","{'new': None, '1M_pop': '3210', 'total': 193435}",2023-12-07,2023-12-07T00:15:05+00:00,196559.0
157,Asia,Lebanon,"{'new': '+3934', 'active': 145299, 'critical':...","{'new': '+5', '1M_pop': '1638', 'total': 10952}",2023-12-07,2023-12-07T00:15:06+00:00,145299.0
10,Asia,China,"{'new': None, 'active': 118977, 'critical': No...","{'new': None, '1M_pop': '4', 'total': 5272}",2023-12-07,2023-12-07T00:15:10+00:00,118977.0
234,Oceania,Oceania,"{'new': '+1646', 'active': 116962, 'critical':...","{'new': None, '1M_pop': None, 'total': 31029}",2023-12-07,2023-12-07T00:15:04+00:00,116962.0
75,South-America,French-Guiana,"{'new': '+13', 'active': 86367, 'critical': 6,...","{'new': None, '1M_pop': '1337', 'total': 420}",2023-12-07,2023-12-07T00:15:08+00:00,86367.0
145,Africa,Algeria,"{'new': None, 'active': 82055, 'critical': Non...","{'new': None, '1M_pop': '152', 'total': 6881}",2023-12-07,2023-12-07T00:15:07+00:00,82055.0
132,Asia,Brunei,"{'new': None, 'active': 70093, 'critical': 3, ...","{'new': None, '1M_pop': '505', 'total': 225}",2023-12-07,2023-12-07T00:15:07+00:00,70093.0
88,Africa,Uganda,"{'new': None, 'active': 67920, 'critical': Non...","{'new': None, '1M_pop': '75', 'total': 3632}",2023-12-07,2023-12-07T00:15:08+00:00,67920.0

In [11]:
# Grouping by 'continent' and calculating the sum of 'active_cases'
df_continent_total = df.groupby('continent')['active_cases'].sum().reset_index()

# Sorting the new DataFrame by 'active_cases' in descending order
df_continent_total_sorted = df_continent_total.sort_values(by='active_cases', ascending=False)

# Displaying the sorted DataFrame
print("\nDataFrame showing each unique continent with their total of active cases (ordered by active cases - higher to lower):")
display(df_continent_total_sorted)

DataFrame showing each unique continent with their total of active cases (ordered by active cases - higher to lower):

       continent  active_cases
1            All    22949934.0
2           Asia    15726711.0
3         Europe     4901150.0
4  North-America     4147863.0
6  South-America     2652973.0
0         Africa      832687.0
5        Oceania      157823.0

In [12]:
df_zero_active_cases = df[df['cases'].apply(lambda x: x.get('active', None)) == 0]

# Displaying the filtered DataFrame
display(df_zero_active_cases)

,continent,country,cases,deaths,day,time,active_cases
1,Africa,Eritrea,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '28', 'total': 103}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
4,South-America,Falkland-Islands,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
6,None,Diamond-Princess,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': 13}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
7,Europe,Vatican-City,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': None}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
8,Africa,Western-Sahara,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '2', 'total': 1}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
9,None,MS-Zaandam,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': None, 'total': 2}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
21,North-America,Saint-Kitts-and-Nevis,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '891', 'total': 48}",2023-12-07,2023-12-07T00:15:10+00:00,0.0
54,Oceania,Marshall-Islands,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '283', 'total': 17}",2023-12-07,2023-12-07T00:15:09+00:00,0.0
65,North-America,Dominica,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '1023', 'total': 74}",2023-12-07,2023-12-07T00:15:09+00:00,0.0
80,Africa,Sudan,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '110', 'total': 5046}",2023-12-07,2023-12-07T00:15:08+00:00,0.0
81,Asia,Syria,"{'new': '+7', 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '163', 'total': 3165}",2023-12-07,2023-12-07T00:15:08+00:00,0.0
94,Africa,Ghana,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '45', 'total': 1462}",2023-12-07,2023-12-07T00:15:08+00:00,0.0
121,Asia,Cyprus,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '1115', 'total': 1364}",2023-12-07,2023-12-07T00:15:07+00:00,0.0
139,Asia,Sri-Lanka,"{'new': '+11', 'active': 0, 'critical': None, ...","{'new': '+2', '1M_pop': '783', 'total': 16888}",2023-12-07,2023-12-07T00:15:07+00:00,0.0
161,Europe,Denmark,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '1511', 'total': 8814}",2023-12-07,2023-12-07T00:15:06+00:00,0.0
163,Europe,Norway,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '1040', 'total': 5732}",2023-12-07,2023-12-07T00:15:06+00:00,0.0
177,South-America,Ecuador,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '1990', 'total': 36043}",2023-12-07,2023-12-07T00:15:06+00:00,0.0
182,Asia,Mongolia,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '676', 'total': 2284}",2023-12-07,2023-12-07T00:15:06+00:00,0.0
194,Asia,DPRK,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '3', 'total': 74}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
195,Europe,Ukraine,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '2603', 'total': 112418}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
198,Asia,Taiwan,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '796', 'total': 19005}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
203,Europe,France,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '2556', 'total': 167642}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
204,Asia,S-Korea,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '700', 'total': 35934}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
206,South-America,Argentina,"{'new': None, 'active': 0, 'critical': None, '...","{'new': None, '1M_pop': '2840', 'total': 130685}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
207,Europe,Portugal,"{'new': None, 'active': 0, 'critical': 61, 're...","{'new': None, '1M_pop': '2730', 'total': 27686}",2023-12-07,2023-12-07T00:15:05+00:00,0.0
216,South-America,Peru,"{'new': None, 'active': 0, 'critical': 4, 'rec...","{'new': None, '1M_pop': '6595', 'total': 222161}",2023-12-07,2023-12-07T00:15:05+00:00,0.0

In [26]:
user_input = input("Enter the country name: ")

# Filtering the DataFrame based on the user input
filtered_df = df[df['country'].str.lower() == user_input.lower()]

# Displaying the filtered DataFrame
display(filtered_df)

,continent,country,cases,deaths,day,time,active_cases
193,Europe,Romania,"{'new': None, 'active': 2582, 'critical': 40, ...","{'new': None, '1M_pop': '3607', 'total': 68653}",2023-12-07,2023-12-07T00:15:06+00:00,2582.0

Destination to travel

In [28]:
destination = input("Enter the city you would like to go: ")

Web Scraping - TripAdvisor - Restaurants

In [30]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get('https://www.tripadvisor.com/')
time.sleep(5)
accept = driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]')
accept.click()
time.sleep(3)
restaurants = driver.find_element(By.XPATH, '//*[@id="lithium-root"]/main/div[3]/div[1]/button[4]')
restaurants.click()
search_to_place = driver.find_element(By.XPATH, '//*[@id="lithium-root"]/main/div[4]/div/div/div[2]/div/form/div/div/input')
search_to_place.click()
time.sleep(2)
search_to_place.send_keys(destination)
time.sleep(1)
search_to_place.send_keys(Keys.ENTER)

In [31]:
restaurants_page = driver.page_source
time.sleep(5)
soup2 = BeautifulSoup(restaurants_page, 'lxml')
restaurant_names = soup2.find_all('div', attrs={'class': 'result-title'})
addresses_names = soup2.find_all('div', attrs={'class': 'address-text'})
restaurant_rating = soup2.find_all('a', attrs={'class': 'review_count'})

# Extract text from the elements
restaurant_list = [restaurant.text for restaurant in restaurant_names]
addresses_list = [address.text for address in addresses_names]
ratings_list = [rating.text for rating in restaurant_rating]

# Extract text of rating
res_rating = restaurant_rating[0].get_text() if restaurant_rating else 'N/A'

# Add the ratings to the restaurant_addresses dictionary
restaurant_addresses = {}
for i in range(len(restaurant_list)):
    restaurant_addresses[restaurant_list[i]] = {
        'address': addresses_list[i] if i < len(addresses_list) else 'N/A',
        'rating': ratings_list[i] if i < len(ratings_list) else 'N/A',
        'res_rating': res_rating if i == 0 else 'N/A'  # Add res_rating to each entry
    }

In [32]:
data = []

for restaurant, info in restaurant_addresses.items():
    # Extract numeric value from 'Rating'
    numeric_rating = int(''.join(filter(str.isdigit, info['rating'])))
    data.append([restaurant, numeric_rating, info['address'], info['rating']])

# Create DataFrame
columns = ["Restaurant Name", "Total Reviews", "Address", "Rating"]
restaurant_df = pd.DataFrame(data, columns=columns)

# Order the DataFrame by the 'Numeric Rating' column in descending order
restaurant_df = restaurant_df.sort_values(by='Total Reviews', ascending=False)

# Drop the 'Rating' column
restaurant_df = restaurant_df.drop(columns=['Rating'])

# Display the DataFrame
display(restaurant_df)

,Restaurant Name,Total Reviews,Address
1,London Steakhouse Co.,16907,"University House 109-117 Middlesex Street, Lon..."
24,The Wolseley,8125,"160 Piccadilly, London, England, United Kingdom"
13,Duck & Waffle,7053,"110 Bishopsgate, London, England, United Kingdom"
22,Locale,3839,"3B Belvedere Road, London, England, United Kin..."
2,Hard Rock Cafe London Picadilly Circus,3527,"225-229 Piccadilly, London, England, United Ki..."
9,Scarlett Green,3523,"4 Noel Street, London, England, United Kingdom"
28,TING Restaurant & Lounge,3401,"31 St. Thomas Street, London, England, United ..."
27,Heddon Street Kitchen,3237,"3-9 Heddon Street, London, England, United Kin..."
26,Zuma London,2966,"5 Raphael Street, London, England, United Kingdom"
23,Bonoo Indian Tapas Restaurant,2653,"675 Finchley Road, London, England, United Kin..."
7,STK London,2507,"336-337 Strand, London, England, United Kingdom"
5,Nobu London Old Park Lane,2495,"19 Old Park Lane, London, England, United Kingdom"
29,Andy's Greek Taverna,2445,"23 Pratt Street, London, England, United Kingdom"
8,The Golden Chippy,2322,"62 Greenwich High Road, London, England, Unite..."
16,Gillray's Steakhouse & Bar,2274,"County Hall Westminster Bridge Road, London, E..."
20,London Street Brasserie,2085,"2-4 London Street, Reading, Berkshire, England..."
11,Tower Tandoori Restaurant,2051,"74-76 Tower Bridge Road, London, England, Unit..."
19,Kennington Lane Cafe,2020,"383 Kennington Lane, London, England, United K..."
0,The London Carriage Works,1910,"40 Hope Street, Liverpool, Merseyside, England..."
17,Taste Of Nawab,1740,"97 Colney Hatch Lane, London, England, United ..."
4,Govinda's Vegan & Vegetarian Restaurant,1681,"9-10 Soho Street, London, England, United Kingdom"
18,Mestizo,1680,"103 Hampstead Road, London, England, United Ki..."
10,Little London Bar & Grill,1441,"Tal 31, Munich, Upper Bavaria, Bavaria, Germany"
25,Mint Leaf of London,1179,"Dubai, Emirate of Dubai, United Arab Emirates"
15,The London Inn Pub,1031,"4 St. Johns Street, Stamford, Lincolnshire, En..."
21,"The London, Queenstown",1018,"36 Shotover Street, Queenstown, Otago Region, ..."
14,London Inn,963,"The Green, Shaldon, Devon, England, United Kin..."
3,The New London Restaurant & Lounge,682,"147 New London Road, Chelmsford, Essex, Englan..."
6,Mrs London's,597,"464 Broadway, Saratoga Springs, New York"
12,Max London's Restaurant + Bar,563,"466 Broadway, Saratoga Springs, New York"

In [33]:
# Adding a link to be more friend-user

data = []

for restaurant, info in restaurant_addresses.items():
    # Extract numeric value from 'Rating'
    numeric_rating = int(''.join(filter(str.isdigit, info['rating'])))
    
    # Extract the link using BeautifulSoup
    link_tag = soup2.find('div', text=restaurant).find_parent('div').find('a', class_='review_count')
    restaurant_link = f"https://www.tripadvisor.com{link_tag['href']}" if link_tag else 'N/A'
    
    data.append([restaurant, numeric_rating, info['address'], info['rating'], restaurant_link])

# Create DataFrame
columns = ["Restaurant Name", "Total Reviews", "Address", "Rating", "Restaurant Link"]
restaurant_df = pd.DataFrame(data, columns=columns)

# Order the DataFrame by the 'Numeric Rating' column in descending order
restaurant_df = restaurant_df.sort_values(by='Total Reviews', ascending=False)

# Drop the 'Rating' column
restaurant_df = restaurant_df.drop(columns=['Rating'])

# Make the link clickable in the DataFrame
restaurant_df_styled = restaurant_df.head(5).style.format({'Restaurant Link': '<a href="{0}" target="_blank">{0}</a>'})

# Display only the top 5 rows of the DataFrame
display(HTML(restaurant_df_styled.render()))

C:\Users\lipyc\AppData\Local\Temp\ipykernel_41536\1498449035.py:10: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  link_tag = soup2.find('div', text=restaurant).find_parent('div').find('a', class_='review_count')
C:\Users\lipyc\AppData\Local\Temp\ipykernel_41536\1498449035.py:29: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  display(HTML(restaurant_df_styled.render()))

Web Scraping - Fever - Expeditions

In [34]:
# Set up the webdriver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get('https://feverup.com/')

# Accept cookie
time.sleep(1)
accept_cookie = driver.find_element(By.XPATH, '//*[@id="cookie-advice"]/button')
accept_cookie.click()

# Click on the city selector
time.sleep(1)
select_city = driver.find_element(By.XPATH, '//*[@id="navbarSupportedContent"]/ul/li')
select_city.click()

# Click on the box to open the city input
time.sleep(1)
box_city = driver.find_element(By.XPATH, '/html/body/astro-island[3]/div[2]/div/div/div/div/div[1]')
box_city.click()

# Input the city in the box
time.sleep(1)
box1_city = driver.find_element(By.XPATH, '/html/body/astro-island[3]/div[2]/div/div/div/div/div[1]/input')
box1_city.send_keys(destination)

# Confirm the city selection
time.sleep(1)
confirm_box_city = driver.find_element(By.XPATH, '/html/body/astro-island[3]/div[2]/div/div/div/div/div[2]/ul/li[1]')
confirm_box_city.click()

# Wait for the city links to load
time.sleep(1)
city_links = driver.find_elements(By.CLASS_NAME, 'svelte-194rbqn')

# Iterate through the links and click on the one that matches the desired city
for city_link in city_links:
    if city_link.text.lower() == destination.lower():
        city_link.click()

# Click on Top 10
time.sleep(1)
top_10 = driver.find_element(By.XPATH, '/html/body/div/main/section[1]/h2/a')
top_10.click()

In [40]:
events_page = driver.page_source
time.sleep(5)
soup2 = BeautifulSoup(events_page, 'lxml')  # Corrected variable name
events_names = soup2.find_all('h3', attrs={'class': 'fv-plan-card__title fs-12 fw-bold'})  # Check the class attribute in the actual page source

# Extract text from the elements
event_list = [event.text for event in events_names]

# Create DataFrame
columns = ["Event Name"]
event_df = pd.DataFrame(event_list, columns=columns)

display(event_df)

                                          Event Name
0                 Disney100: The Exhibition - London
1             Bubble Planet: An Immersive Experience
2          Accidentally Wes Anderson: The Exhibition
3                  Stranger Things: The First Shadow
4                 Van Gogh: The Immersive Experience
5           Dopamine Land: A Multisensory Experience
6               Avora: New World Cocktail Experience
7                    Monet: The Immersive Experience
8                      Delight: Media Art Exhibition
9  Moonshine Saloon: Immersive Wild West Cocktail...

In [43]:
# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(events_page, 'html.parser')

# Find all events
events = soup.find_all('a', {'data-testid': 'fv-plan-card'})

# Extract event names and links
event_list = []
for event in events:
    event_name = event.find('h3', {'class': 'fv-plan-card__title fs-12 fw-bold'}).text
    event_info = event['href']
    event_list.append({'Event Name': event_name, 'Event Info': event_info})

# Create DataFrame
event_df = pd.DataFrame(event_list)

# Select only 'Event Name' and 'Event Link' columns
event_df = event_df[['Event Name', 'Event Info']]

# Convert the 'Event Link' column to clickable links
event_df['Event Info'] = event_df['Event Info'].apply(lambda x: f'<a href="{x}" target="_blank">Link</a>')

# Display the DataFrame with clickable links
display_html(event_df.to_html(escape=False), raw=True)

,Event Name,Event Info
0,Disney100: The Exhibition - London,Link
1,Bubble Planet: An Immersive Experience,Link
2,Accidentally Wes Anderson: The Exhibition,Link
3,Stranger Things: The First Shadow,Link
4,Van Gogh: The Immersive Experience,Link
5,Dopamine Land: A Multisensory Experience,Link
6,Avora: New World Cocktail Experience,Link
7,Monet: The Immersive Experience,Link
8,Delight: Media Art Exhibition,Link
9,Moonshine Saloon: Immersive Wild West Cocktail Experience,Link

In [50]:
events_page = driver.page_source
time.sleep(5)
soup2 = BeautifulSoup(events_page, 'lxml') 

# Find event names and prices
events_names = soup2.find_all('h3', attrs={'class': 'fv-plan-card__title fs-12 fw-bold'})
events_price = soup2.find_all('span', attrs={'class': 'plan-price__amount'})

# Extract text from the elements
event_list = [event.text.strip() for event in events_names]
event_price = [price.text.strip() for price in events_price]

# Close the browser session when done
driver.quit()

MaxRetryError: HTTPConnectionPool(host='localhost', port=52027): Max retries exceeded with url: /session/d5823f8abf2c73ed6de7872321afb5d4/source (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000001E0225622D0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))

In [53]:
# Create DataFrame using zip
columns = ["Event Name by Ranking", "Price From", "Event Info"]
event_data = list(zip(event_list, event_price, event_info))
event_df = pd.DataFrame(event_data, columns=columns)

# Display the DataFrame
display(event_df)

                               Event Name by Ranking Price From Event Info
0                 Disney100: The Exhibition - London     21.00          h
1             Bubble Planet: An Immersive Experience     13.90          t
2          Accidentally Wes Anderson: The Exhibition     10.99          t
3                  Stranger Things: The First Shadow    108.00          p
4                 Van Gogh: The Immersive Experience     15.90          s
5           Dopamine Land: A Multisensory Experience     14.99          :
6               Avora: New World Cocktail Experience     40.00          /
7                    Monet: The Immersive Experience     14.90          /
8                      Delight: Media Art Exhibition     17.80          f
9  Moonshine Saloon: Immersive Wild West Cocktail...     33.99          e